<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的餐</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../stylesheets/base.css" />

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/jquery.toast.min.css" />
    <script src="../js/jquery-1.12.4.min.js"></script>
    <script src="../js/jquery.toast.min.js"></script>
    <script src="../js/template.js"></script>
    <style>
        .no-border{
           height:30px;
        }
    </style>
</head>

<body>
<div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<ul  class="nav nav-tabs" id="checkfoodTab">
    <li class="active" data-foodtypes="1">
        <a style="color:#555;font-size:16px;font-weight:bolder">
            预订餐食
        </a>
    </li>
    <li data-foodtypes="2"><a style="color:#555;font-size:16px;font-weight:bolder">历史订餐</a></li>

</ul>
<table  style="width:50%;text-align:center;margin:10px auto;display:block;" border="0" id="showOrder1">
    <tr><th class="no-border" style="color:#d5d5d5;">日期：</th><td class="no-border" id="dateorderfood" style="color:#555;text-align: left;">点餐日期</td></tr>
    <tr><th class="no-border" style="color:#d5d5d5;">部门：</th><td  class="no-border" id="departmentName" style="color:#555;text-align: left;">所属部门</td></tr>
    <tr>
        <th class="no-border" style="color:#d5d5d5;">类型：</th>
        <td class="no-border">
        <select name="orderTypeSelect" id="orderTypeSelect" onchange="chooseOrderType()" class="form-control" style="width:100px;display:block;">
            <option value="1">午餐</option>
            <option value="2">晚餐</option>
        </select>


    </td>
    </tr>
</table>

<table  style="width:50%;text-align:center;margin:10px auto;display:none;" border="0" id="showOrder2" >
    <tr><th class="no-border" style="color:#d5d5d5;">历史日期：</th><td class="no-border" id="dateorderfood2" style="color:#555;text-align: left;">点餐日期</td></tr>
    <!--<tr><th class="no-border">所属部门：</th><td  class="no-border" id="departmentName2" style="color:chocolate;text-align: left;">所属部门</td></tr>-->
    <tr>
        <th class="no-border" style="color:#d5d5d5;">订餐类型：</th>
        <td class="no-border">


            <select  name="orderTypeSelect2"  id="orderTypeSelect2" onchange="chooseOrderType2()" class="form-control" style="width:110px;display:block;">
                <option value="1">历史午餐</option>
                <option value="2">历史晚餐</option>
            </select>
        </td>
    </tr>
</table>
<!--<p style="font-size:16px;text-align: center;color:orangered;" >我的历史点餐</p>-->
<!--<p style="text-align: center;color:chocolate;" id="departmentName">中信村广告</p>-->
<input type="hidden" id="employeeId" value="<%= employeeId %>">
<h3 style="text-align:center;color:#555">订餐详情</h3>
<div id="con"></div>
<div style="width:80%;margin:10px auto;text-align:center;">
    <a id='orderAgain' class="btn btn-primary" onclick="reOrder()">重新订餐</a>
    <a id="keepHistoryOrder" class="btn btn-danger" onclick="keepOrder()">保存历史菜单</a>
    <!--<p style="color:blueviolet;margin-top:10px;">友情提示: <br> 重新订餐前请截图保存本周餐品! </p>-->
</div>
<div style="width:100%;height:100px;clear:both;"></div>

<div class="footer">
    <ul>
        <li class="tab-item">
            <a href="/wx" style="display:block;">
                <img src="../images/food.png" alt="" />
            </a>
            <span style="display:block;width:100px;height:20px;margin:0 auto;font-size:12px;">订餐</span>
        </li>
        <li class="tab-item">
            <a href="/wx/myfood?userid=<%= employeeId %>" style="display:block;">
                <img src="../images/my.png" alt="" />
            </a>
            <span style="display:block;width:100px;height:20px;margin:0 auto;font-size:12px;">我的餐</span>
        </li>
    </ul>

</div>
</body>

</html>
<script id="datalist" type="text/html">
    <table class="table table-striped table-responsive" style="width:80%;margin:0 auto;">

        <thead>
        <tr>
            <th style="text-align:center;">星期</th>
            <th style="text-align:center;">餐食</th>
            <th style="text-align:center;">编号</th>
        </tr>
        </thead>
        <tbody>

        {{each foodList as value}}
        <tr>
            <td data-foodweek="{{$index}}">{{$index | weekToStr}}</td>
            <td style="text-align:center;">{{value.foodName}}</td>
            <td>{{value.foodId}}</td>
        </tr>
        {{/each}}
        </tbody>

    </table>
</script>



<script id="datalist2" type="text/html">
    <table class="table table-striped table-responsive" style="width:80%;margin:0 auto;">

        <thead>
        <tr>
            <th style="text-align:center;">星期</th>
            <th style="text-align:center;">餐食</th>
            <th style="text-align:center;">编号</th>
        </tr>
        </thead>
        <tbody>

        {{each foodList2 as value2}}
        <tr>
            <td>{{$index | weekToStr}}</td>
            <td style="text-align:center;">{{value2.foodName}}</td>
            <td>{{value2.foodId}}</td>
        </tr>
        {{/each}}
        </tbody>

    </table>
</script>
<script>
    var departId = getQueryString('departid');
    var employeeId = 2458;//$('#employeeId').val(); //getQueryString('employeeid');
    //$('.footer').find('a').eq(0).attr('href', 'order.html?departid='+departId+'&employeeid='+employeeId);
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return decodeURIComponent(r[2]);
        return null;
    }
    //页面load查询的数据
    $.ajax({
        url: '/api/readorderfooddate',
        type: 'get',
        success: function (res) {

            var data = res.ordertime;
            if (data) {

                var timearr = data.split('-');
                var start_timestamp = parseInt(timearr[0]);
                var end_timestamp = parseInt(timearr[1]);

                var current_timestamp = Date.parse(new Date());
                if ((current_timestamp >= start_timestamp) && (current_timestamp <= end_timestamp)) {
                    //符合时间
                    $('#orderAgain').show();
                } else {
                    $('#orderAgain').hide();
                }
            } else {
                $('#orderAgain').hide();
            }
        }
    })
    $('#checkfoodTab').find('li').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
        var foodtypes = $(this).data('foodtypes');
        //alert(foodtypes);
        if(foodtypes===1){
            $('#showOrder1').show();
            $('#showOrder2').hide();
            $('#keepHistoryOrder').show();
            searchData();
        }else{
            //查询历史数据
            $('#showOrder1').hide();
            $('#showOrder2').show();
            $('#keepHistoryOrder').hide();
            searchHistoryData();
        }

    });

    $('.spinner').css('display', 'block');
    var searchData = function () {
        var orderType = $("#orderTypeSelect").val()
        $.ajax({
            url: '/api/myfood?employeeid=' + employeeId + "&orderType=" + orderType,
            success: function (data) {
                // alert(typeof data);
                if (data['list'] && data['list'].length > 0) {
                    if (data['list'][0]['foodList'] == 'null') {
                        $('#con').html(
                            '<p style="font-size:16px;text-align:center;font-weight:bold;color:#ccc;margin-top:30px;">您还没有点餐,请去点餐~~</p>'
                        );
                    } else {

                        $("#departmentName").text(data['list'][0].departname)
                        $.ajax({
                            url: '/food/queryAll',
                            type: 'get',
                            success: function (list) {

                                // alert(JSON.stringify(data['list']));
                                var orderfoodtime = data['list'][0]['ordertime'];
                                $('#dateorderfood').html(orderfoodtime);
                                console.log(data['list'][0]['foodList']);
                                var foodInfo = JSON.parse(data['list'][0]['foodList']);
                                $.each(foodInfo, function (k1, v1) {

                                    $.each(list.list, function (k2, v2) {

                                        if (v1.foodId == v2.code) {
                                            v1.foodName = v2.name
                                        }
                                    })
                                })
                                // alert(foodInfo);
                                // alert(typeof foodInfo);
                                var html = template('datalist', {
                                    foodList: foodInfo
                                });
                                //alert(html);
                                $('#con').html(html);
                            }
                        })



                    }

                } else {
                    $('#con').html(
                        '<p style="font-size:16px;text-align:center;font-weight:bold;color:#ccc;margin-top:30px;">您还没有点餐,请去点餐~~</p>'
                    );
                }
                $('.spinner').hide();
            }

        });
    }
    searchData();
    //查询历史数据
    function searchHistoryData(){
        var orderType2 = $("#orderTypeSelect2").val();
        $.ajax({
            url:'/api/findHistoryFood?employeeId='+employeeId+'&orderType='+orderType2,
            method:'get',
            success:function(data){
                console.log(data);
                if(data['list'][0] && data['list'][0]['foodList']){
                    var foodInfo = JSON.parse(data['list'][0]['foodList']);
                    console.log(foodInfo);
                    var html = template('datalist2', {
                        foodList2: foodInfo
                    });
                    //alert(html);
                    $('#con').html(html);
                    $('#dateorderfood2').html(data['list'][0]['ordertime']);
                }else{
                    $('#con').html( '<p style="font-size:16px;text-align:center;font-weight:bold;color:#ccc;margin-top:30px;">您还没有历史订餐数据</p>');
                    $('#dateorderfood2').html('无日期');
                }

            }
        });
    }
    //保存历史数据
    function keepOrder(){
        var flag = confirm("保存历史菜单会覆盖上次的数据，是否继续？");
        if(flag){
            //读出当前列表的数据
            var foodObj= {};

            $('#con table tbody').find('tr').each(function(){
                var week = $(this).find('td').eq(0).data('foodweek');
                foodObj[week]={};
                var foodName = $(this).find('td').eq(1).text();
                var foodId = $(this).find('td').eq(2).text();
                foodObj[week]['foodName']=foodName;
                foodObj[week]['foodId']=foodId;
            });
            //console.log('foodObj>>>',foodObj);
            var ordertime = $('#dateorderfood').text();
            var orderType = $("#orderTypeSelect").val();
            $.ajax({
                url:'/api/keepHistoryFood',
                data:{employeeId:employeeId,foodList:JSON.stringify(foodObj),ordertime:ordertime,orderType:orderType},
                method:'post',
                success:function(data){
                   // console.log(data);
                    if(data['code']==200){
                        alert('保存历史菜单成功！');
                    }
                }
            });
        }
    }
    function chooseOrderType() {
        searchData();
    }
    function chooseOrderType2(){
        searchHistoryData();
    }

    function reOrder() {
        var flag = confirm("确定重新订餐？");
        if (flag) {
            $.ajax({
                url: '/api/delMyFood?employeeId=' + employeeId,
                success: function (data) {
                    $.ajax({
                        url: '/api/updataFood',
                        data: {
                            type: 'update',
                            employeeId: employeeId,
                            food: 'null'
                        },
                        method: 'post',
                        success: function (data) {
                            location.href = '/wx';
                        }
                    })

                }
            });
        }
    }

</script>