<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/base.css"/>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/jquery.toast.min.css"/>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery.toast.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/template.js"></script>

</head>
<body>
<div class="container">
    <input style="display:none" type="text" id="weekNum" value="mon">
    <p></p>
    <div>
        <ul class="nav nav-tabs dayList">
            <li class="active"><a onclick="selectCompany('mon')" data-toggle="tab">周一</a></li>
            <li><a onclick="selectCompany('tue')" data-toggle="tab">周二</a></li>
            <li><a onclick="selectCompany('wed')" data-toggle="tab">周三</a></li>
            <li><a onclick="selectCompany('thu')" data-toggle="tab">周四</a></li>
            <li><a onclick="selectCompany('fri')" data-toggle="tab">周五</a></li>
            <li><a onclick="selectCompany('sat')" data-toggle="tab">周六</a></li>
            <li><a onclick="selectCompany('sun')" data-toggle="tab">周日</a></li>
        </ul>
    </div>
    <div id="food">

    </div>
    <a class='btn btn-success' id="download" onclick="clickDownload(this)" download="按部门统计.csv" href="#">导出本日数据</a>

</div>
</body>
</html>

<script id="foodlist" type="text/html">
    <table class="table table-striped">
        <tr>
            <td>部门</td>
            {{each dataList.companyList as item1  key}}
            <td>{{item1.name}}</td>
            {{/each}}
            <td>合计</td>
        </tr>
        {{each dataList.orderList as item2  key}}
        <tr>
            <td>{{item2.departName}}</td>
            {{each dataList.companyList as item3  key}}
            <td>{{item2[item3.code]||0}}</td>
            {{/each}}
            <td>{{item2.sum}}</td>
        </tr>
        {{/each}}
        <tr>
            <td>合计</td>
            {{each dataList.companyList as item4  key}}
            <td style='color:red'>{{dataList.sumAllData[item4.code]||0}}</td>
            {{/each}}
            <td style='color:red'>{{dataList.sum}}</td>
        </tr>
    </table>
</script>


<script>

    function selectCompany(weekDay){
        
        //获取订餐信息数据
        $.ajax({
            url:'/detail/queryAll?weekDay='+weekDay,
            type:'get',
            success:function(data){
                
                //获取餐品列表
                $.ajax({
                    url:'/company/listapi',
                    type:'get',
                    success:function(res){


                        var sum=0;
                        var sumAllData={};
                        for(var i=0;i<data.list.length;i++){
                            sum+=parseInt(data.list[i].sum);
                            var departmentList=data.list[i];
                            $.each(departmentList,function(v,k){
                                
                                if(parseInt(k)){
                                    
                                    if(sumAllData[v]){
                                        sumAllData[v]+=parseInt(k)
                                    }else{
                                        sumAllData[v]=parseInt(k);
                                    }
                                }
                            })
                        }
                        

                        var dataList={
                            companyList:res.list,
                            orderList:data.list,
                            sum:sum,
                            sumAllData:sumAllData
                        }

                        var html = template('foodlist',{dataList:dataList});
                        $('#food').html(html);
                    }
                })
            }
        });
        

    }
    selectCompany('mon');

    //导出excel数据
    function clickDownload(aLink){

        
        var trList=$("#food table tr");
        var str='';
        
            $.each(trList,function(k1,v1){
                
                var tdList=$(v1).children()
                $.each(tdList,function(k2,v2){
                    
                    var text='';
                    if(k1==0){//这个表头的td
                        if(k2==0){
                            text=$(v2).text()
                        }else{
                            text=','+$(v2).text()
                        }
                    }else{
                        if(k2==0){
                            text='\n'+$(v2).text()
                        }else{
                            text=','+$(v2).text()
                        }
                    }
                    str+=text
                })
            })

        // var str = "栏位1,栏位2,栏位3\n值1,值2,值3";
        str =  encodeURIComponent(str);
        aLink.href = "data:text/csv;charset=utf-8,\ufeff"+str;
    }

</script>